.drawer{
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 70px;
        padding: 0 1em;
        visibility: hidden;
        height: 60px;
    }

    .navbar_toggle{
        z-index:9999;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .navbar_toggle_icon {
        position: relative;
        display: block;
        height: 3px;
        width: 30px;
        background: #000000;
        -webkit-transition: ease .5s;
        transition: ease .5s;
    }

    .navbar_toggle_icon:nth-child(1) {
        top: 0;
    }

    .navbar_toggle_icon:nth-child(2) {
        margin: 8px 0;
    }

    .navbar_toggle_icon:nth-child(3) {
        top: 0;
    }

    /*OPEN時の動き*/
    .navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0;
    }

    .navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
        top: -10px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* 隠れメニュー */
    .menu{
        margin: 0;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition:ease .5s;
        transition:ease .5s;
        z-index: 1000;
        background-color: #282F35;
    }

    .menu ul {
        text-align: center;
        margin-top: 100px;
    }

    .menu ul li {
        width: 50px;
        margin: 0 auto;
        padding: 2em;
        font-size: 16px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        padding-top: 30%;
    }

    .menu ul li:hover {
        border-bottom: 1px solid #fff;
    }

    .menu ul li a {
        color: #fff;
    }

    /*OPEN時の動き*/
    .menu.open {
    -webkit-transform:translateX(0);
    transform:translateX(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    }  



    @media only screen and (max-width:900px) {
        .drawer {
            visibility: visible;
        }
    }