header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 0px 5px 5px -5px #000000;
}

header .header-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .header-inner .header-left {
  display: flex;
}

header .header-inner .header-left img {
  width: 50px;
  height: 50px;
  padding-top: 3px;
}

header .header-inner .global-nav {
  padding-top: 15px;
}

header .header-inner .global-nav ul {
  display: flex;
}

header .header-inner .global-nav ul li {
  margin-right: 30px;
}

header .header-inner .global-nav ul li:hover {
  border-bottom: 1px solid #000;
}

#top {
  width: 100%;
  margin: 0 auto;
  height: 700px;
  background-size: cover;
}

#top .top-inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: left;
}

#top .top-inner .top-content-wrap {
  width: 100%;
  padding-top: 15%;
}

#top .top-inner .top-content-wrap .delivery {
  margin: 0;
}

#top .top-inner .top-content-wrap .main-title {
  font-size: 80px;
  margin: 0;
  color: #fff;
  text-shadow: 3px 0 5px #000000;
  font-family: "Hannari";
}

#top .top-inner .top-content-wrap .sub-title {
  font-size: 20px;
  color: #fff;
  text-shadow: 3px 0 5px #000000;
}

#about {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  color: #fff;
}

#about .about-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about .about-inner .about-left-box {
  width: 45%;
}

#about .about-inner .about-left-box .business-hour {
  font-size: 30px;
}

#about .about-inner .about-left-box .delivery {
  text-align: center;
  border-bottom: 1px solid #fff;
}

#about .about-inner .about-left-box .phone-contact {
  font-size: 20px;
}

#about .about-inner .about-right-box {
  padding-top: 150px;
  width: 45%;
}

#about .about-inner .about-right-box tr th {
  padding-bottom: 10px;
  font-size: 25px;
}

#about .about-inner .about-right-box tr th small {
  padding-left: 15px;
}

#about .about-inner .about-right-box strong {
  font-size: 20px;
}

#contact {
  margin: 0 auto;
}

#contact .contact-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#contact .contact-inner .contact-header {
  font-size: 20px;
  padding-top: 35px;
  margin-bottom: 50px;
}

#contact .contact-inner form {
  text-align: center;
}

#contact .contact-inner form input {
  width: 100%;
}

#contact .contact-inner form textarea {
  width: 100%;
}

#contact .contact-inner form .submit {
  margin-top: 30px;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  height: 45px;
  background-color: #b6b2b2;
  text-align: center;
}

footer p {
  padding-top: 10px;
}

@media only screen and (max-width: 900px) {
  .global-nav {
    display: none;
  }
  #about .about-inner {
    display: block;
    width: 90%;
  }
  #about .about-inner .about-left-box {
    width: 100%;
  }
  #about .about-inner .about-left-box .business-hour {
    font-size: 150%;
  }
  #about .about-inner .about-left-box .delivery {
    text-align: left;
  }
  #about .about-inner .about-left-box .phone-contact {
    font-size: 130%;
  }
  #about .about-inner .about-right-box {
    width: 100%;
    padding-top: 50px;
    text-align: right;
  }
}
