body,ul,li,div,section,img,a,strong,h5 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    font-family: Noto Sans CJK JP Arial, Helvetica, sans-serif;
    min-width: 320px;
}